@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.top {
    height: 550px;
    background: #1F2937;
    display: flex;
    flex-direction: column;
    gap: 96px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 410px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 950;
}

.links {
    display: flex;
    gap: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.hero {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.text-and-button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.hero-main {
    font-size: 48px;
    font-weight: 950;
    color: #F9FAF8;
    max-width: 450px;
}

a,
.hero-secondary {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    max-width: 450px;
    margin-bottom: 10px;
}

.sign-up-hero {
    cursor: pointer;
    padding: 6px 32px;
    border-radius: 8px;
    background: #3882F6;
    border: 4px solid #3882F6;
    color: white;
    font-weight: 900;
    font-size: 16px;
}

.placeholder {
    height: 235px;
    width: 500px;
    background: #e5e7eb6e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information {
    padding: 48px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.information-text {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.square {
    height: 150px;
    width: 150px;
    border-radius: 10px;
    border: 4px solid #3882F6;
    margin-bottom: 8px;
}

.undertext {
    width: 150px;
    text-align: center;
}

.quote {
    height: 500px;
    background: #E5E7EB;
    font-size: 36px;
    font-weight: 100;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-text {
    width: 785px;
}

.quote-credit {
    font-size: 20px;
    color: black;
    margin-left: 500px;
}

.action {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangle {
    height: 150px;
    width: 1000px;
    background: #3882F6;
    border-radius: 8px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.action-main {
    font-size: 22px;
}

.action-secondary {
    color: #E5E7EB;
}

.sign-up-action {
    cursor: pointer;
    padding: 6px 32px;
    border-radius: 8px;
    background: #3882F6;
    border: 2px solid white;
    color: white;
    font-weight: 900;
    font-size: 16px;
}

.footer {
    height: 100px;
    background: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
